*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    min-width: 1108px;
}
header {
    width: 100%;
    height: 400px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
}
header div{
    width: 100%;
    text-align: center;
    height: 50px;
}
.start-button-div,.stop-button-div{
    align-items: center;
    align-content: center;
}
#start-butt,.stop-button-div span{
      padding: 30px;
      max-height: 100%;
      background-color: aqua;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;

}
.numberofline-div,.delay-div{
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}
.numberofline-div input,.delay-div input{
    max-width: 100px;
    height: 40px;
    border: 1px solid black;
}
main{
    width: 100%;
    height: 100%;
}
.resultentspace{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}
.maincontent{
    display: flex;
    flex-direction: row;
     height: 100%;
     width: 100%;
     padding: 10px;
     align-items: center;
     justify-content: center;
     column-gap: 20px;
}
#circular{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
.active{
    background-color: red;
    border: 1 solid red;
}